// app/globals.css
body {
  background-color: #FEF3E2;
  color: black;
  font-family: Arial, sans-serif;
}

.header, .footer {
  background-color: #F3C623;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}

.connect-button {
  background-color: #FFB22C;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.superadmin-container {
  text-align: center;
  margin-top: 20px;
}

.unauthorized {
  color: red;
}
/* app/globals.css */
.nav-button {
  background-color: #FFB22C;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 10px;
}

.nav-button:hover {
  background-color: #FFA726;
}
